@import "bootstrap-sass/lib/bootstrap";

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding-top: 60px; /* When using the navbar-top-fixed */
}
.media {
  img {
    border: 1px solid #CCC;
    width: 100px;
    height: 100px;
  }
  div.box {
    @extend .pull-left;
    border: 1px solid #CCC;
    width: 100px;
    height: 60px;
    font-family: 'IM Fell English SC', serif;
    margin-right: 10px;
    text-align: center;
    padding-top: 40px;
    font-size: 32px;
  }
  .media-body {
    padding-right: 10px;
  }
  margin-top: 0px;
  margin-bottom: 15px;
}
.loader {
  height: 100px;
  padding-top: 30px;
}
.header {
  img {
    margin-right: 30px;
    margin-bottom: 10px;
  }
  div {
    padding-top: 25px;
  }
  h2 {
    font-family: 'IM Fell English SC', serif;
    font-size: 64px;
  }
  margin-bottom: 20px;
}

footer {
  margin: 15px 0;
}

a.brand {
  font-family: 'Julius Sans One', sans-serif;
}

// angellist login button
.btn-angellist:before {
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    background: url(/images/angel-list.png) no-repeat;
}

.btn-angellist,
.btn-angellist:visited {
    border-color: #d4d4d4;
    background: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
}

.btn-angellist:hover,
.btn-angellist:focus {
    border-color: #518cc6;
    border-bottom-color: #2a65a0;
    color: #fff;
    background-color: #599bdc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -webkit-linear-gradient(#599bdc, #3072b3);
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -ms-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.btn-angellist:active {
    border-color: #2A65A0;
    border-bottom-color: #518CC6;
    color: #fff;
    background: #3072B3;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background: -webkit-linear-gradient(#3072b3, #599bdc);
    background: -moz-linear-gradient(#3072b3, #599bdc);
    background: -ms-linear-gradient(#3072b3, #599bdc);
    background: -o-linear-gradient(#3072b3, #599bdc);
    background: linear-gradient(#3072b3, #599bdc);
}

.btn-angellist:before {
    margin: 0 0.6em 0 -0.6em;
}
[class*="span"] {
  margin-left: 0;
}
ul.main-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
