<ul class="span8 media-list" ng-show="loading==false">
  <li class="media" ng-repeat="entry in (filteredEntries = (feeds))">
    <div ng-switch="entry.type">
      <div ng-switch-when="status_updates">
        <div class="box">MSG</div>
        <div class="media-body">
          <p>
            <em>{{entry.data.created_at | date:"dd.MM.yyyy - HH:mm"}}</em>
            by <a href="{{entry.startup.angellist_url}}">{{entry.startup.name}}</a>
          </p>
          <p>{{entry.data.message}}</p>
        </div>
      </div>
      <div ng-switch-when="startups">
        <div class="box">ARR</div>
        <div class="media-body">
          <em>{{entry.data.created_at | date:"dd.MM.yyyy - HH:mm"}}</em>
          <h4>New Startup: <a href="{{entry.data.angellist_url}}">{{entry.data.name}}</a></h4>
          <p>{{entry.data.high_concept}}</p>
        </div>
      </div>
      <div ng-switch-when="press">
        <div class="box">PR</div>
        <div class="media-body">
          <em>{{entry.data.created_at | date:"dd.MM.yyyy - HH:mm"}}</em>
          <h4>{{entry.data.title}}</h4>
          <h5><a href="{{entry.startup.angellist_url}}">{{entry.startup.name}}</a></h5>
          <p>
            {{entry.data.snippet}} 
            <a href="{{entry.data.url}}">Read more</a>
          </p>
        </div>
      </div>
      <div ng-switch-when="jobs">
        <div class="box">JOB</div>
        <div class="media-body">
          <em>{{entry.data.created_at | date:"dd.MM.yyyy - HH:mm"}}</em>
          <h4>New Job: {{entry.data.title}} at {{entry.data.startup.name}}</h4>
        </div>
      </div>
      <div ng-switch-default="">
        {{entry}}
      </div>
    </div>
  </li>
  <li ng-show="!filteredEntries.length">
    No entries found! Please stay calm. We got notified and a drone is already on its way to your house.
  </li>
</ul>
<div class="span4">
  <a class="twitter-timeline" href="https://twitter.com/ThePiratesInn" data-widget-id="369795207547473920">Tweets by @ThePiratesInn</a>
</div>
