<div class="span12">
  <ul class="thumbnails" ng-show="loading==false">
    <li class="span4" ng-repeat="entry in (users | orderBy:'name')">
      <a href="{{entry.angellist_url}}">
        <img ng-src="{{entry.image}}"/>
        <h3>{{entry.name}}</h3>
      </a>
      <ul>
        <li ng-repeat="role in entry.roles">{{role.display_name}}</li>
      </ul>
    </li>
    <li ng-show="!users.length">
      No entries found! Please stay calm. We got notified and a drone is already on its way to your house.
    </li>
  </ul>
</div>
